.manufacturer-product-edit--container{
	background: #fff;
    margin-top: -5px;
    height: calc( 100vh - 120px);
}

.manufacturer-product-edit--basic{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: calc( 100% - 60px);
    
    .columns {
        flex: 1;
        margin-bottom: 150px;
    }
    .button {
        margin-left: 90%;
    }
}
.manufacturer-product-edit--basic .column{
    padding: 20px 30px;
}
.manufacturer-product-edit--basic .column:nth-child(2){
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.manufacturer-product-edit--basic .control{
    margin-bottom: 25px;
}
.manufacturer-product-edit--basic textarea{
    min-height: 200px;
    height: auto;
}
.manufacturer-product-edit--basic select{
    width: 100%;
    height: 150px;
}

.manufacturer-product-edit--back-button{
    border: 1px solid $primary !important;
    margin-left: 5px;
}
.tag-container{
    .create{
        display: flex;
        align-items: center;
        margin-bottom: -20px;

        input{
            background: white;
        }
    }

    .tag{
        border-radius: 0;
        margin: 5px;
        border: 1px solid lightgrey;
        padding-right: 1px;
    }
    .icon{
        cursor: pointer;
        color: $primary;
    }
}

.manufacturer-product-edit--images{
    padding: 15px;
    .media--file-image{
        min-height: 0;
    }
    .media--page-padding{
        padding-top: 15px;
    }
}
.has-border-right{
    border-right: 1px solid lightgrey;
    margin-right: 30px;
}

.manufacturer-product-edit--variants{
    padding: 15px;

    .variants-container{
        border-right: 1px solid lightgrey;
        margin-right: 25px;
        padding-right: 25px;

        .variants-group{
            margin-right: 35px;
            margin-left: 10px;
        }
        .variants-group,.variants-type{
            border: 1px solid grey;
            padding: 0;
            height: 50vh;
            overflow-y: auto;
            overflow-x: hidden;

            .variant--item {
                width: 100%;
                text-align: center;
                padding: 4px;
                cursor: pointer;
            }
            .variant--selected,
            .variant--item:hover{
                color: white;
                background: $primary;
            }
        }
        .variant-add--container{
            display: flex;

            .variants-add {
                align-self: center;
                border: 1px solid $primary;
                margin-left: 17px;
            }
        }
    }
    .variants-selected--container{
        .variant-selected{
            border-radius: 0;
            margin: 5px;
            border: 1px solid $primary;
            padding-right: 1px;
            background: white;
            font-size: 15px;
            .icon{
                cursor: pointer;
                color: $primary;
            }
        }
    }
}