.list-image{
	height: 200px;
}


.manufacturer-products--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manufacturer-products--list{
	display: flex;
    justify-content: space-between;
}