.list-image{
	height: 200px;
}


.manufacturer-products--header{
	display: flex;
    align-items: center;
    height: 50px;
    padding-left: 90px;
    font-weight: bold;
    width: calc( 90% + 90px);

    a {
    	flex: 1;
    }
}

.manufacturer-products--list{
	display: flex;
	border-bottom: 1px solid $light-grey;
	background: #fff;
	padding: 5px;
	line-height: 55px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;

	img {
		width: 60px;
		height: 60px;
		    margin-right: 26px;
	}

	ul {
		white-space:nowrap;
		flex: 1;

		:first-child {
				color: $primary;
				margin-right: 10px;
			}
		:last-child {
		}

		li {
			display: inline;
			margin-right: 5px;


		}
	}

	span {
		line-height: 70px;
		color: $primary;
		margin-right: 30px;
		margin-left: 30px;
	}
}

.product--title {
	font-weight: bold;
	margin-right: 10px;
	flex: 1;
}

.product--updatet {
	float: right;
	min-width: 300px;
}

.produkt--knppen {
	margin-top: 20px;
	margin-left: 30px;
}



.manufacturer-product--expanded {
	  align-items: center;
	  width: 100%;
	  background: #fff;
	  border-bottom: 2px solid $primary;
	  margin-top: 10px;
}

.product--e-header {
	border-bottom: 1px solid $light-grey;
	padding-top: 20px;

}

.product--e-upldated {
	float: right;
	margin-right: 50px;
}

.product--e-icon {
	margin-right: 30px;
	color: $primary;
}

.manufacturer-product--pagination{
    display: flex;
    flex-direction: column;
    align-items: center;

    nav{
		display: flex;
		padding: 15px 15px 0 15px;
    	p{
    		margin: 0 20px;
    	}
    }
}

.manufacturer-product--name{
	font-weight: bold;
	font-size: 1.5em;
}


.product-controls--expanded{
	display: flex;
	flex-direction: column;
	padding: 15px;

	button{
		margin-bottom: 15px;
	}
}


.manufacturer-products--list.is-active, .manufacturer-product--expanded.is-active {
    border-left: 15px solid $primary;
    padding-left: 5px;
}
.manufacturer-products--list, .manufacturer-product--expanded {
    padding-left: 20px;
}