.list-image{
	height: 200px;
}


.manufacturer-products--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manufacturer-products--list{
	display: flex;
}

.manufacturer-products--list {
	border-bottom: 1px solid black;
	background: #fff;
	padding: 5px;
	line-height: 50px;




	img {
		width: 60px;
		height: 60px;
	}

	ul {
		white-space:nowrap;

		li {
			display: inline;
		}
	}
}
