.media--hover:hover{
	cursor: pointer;
}

.media--page-padding {
	padding-left:20px;
	padding-right: 20px;
}

.media--text-align {
	text-align: center;
}

.media--file-icon{
	color: $primary;
}

.media--map-box {
	width: 100%;
	height: 50px;
	background: #fff;
	border: 1px solid #ededed;

	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;

	span {
		float: left;
		margin: 9px 10px 0px 7px;
		color: $primary;
	}

	h5 {
		float: left;
		margin: 14px 0px 0px 11px;
	}
}


.media--file-image {
	border: 1px solid $text-color;
	min-height: 200px;
    max-height: 200px;
	overflow: hidden;
}

.media--file-image-text {
	padding-top: 10px;
	padding-bottom: 10px;
}

.media--active {
    border-color: $primary;

	.media--file-icon{
		color: white;
	}
	.media--file-image {
		border: 2px solid $primary;
	}

	.media--file-image-text {
		background: $primary;

		h5 {
			color: #fff;
		}
	}
}

.breadcrumbs a:not(:last-child):after {
    content: ">";
    padding: 0 7px;
    font-weight: bold;
}