.media-grid{
    padding: 15px;
}
.media-grid h2{
    padding: 0;
    margin: 10px;
}
.media-content {
    display: flex;
    align-items: center;
}
.media-grid .media-folder, .media-grid .media-file {
    width: calc(25% - 15px);
    display: inline-block;
    margin: 7px;
}

.media-folder{
	padding: 5px;
}

.media-folder,
.media-file{
    border: 1px solid #eee;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.media-folder .icon,
.media-file .icon{
    color: $primary;
}
.media-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 85%;
    overflow: hidden;
    padding-left: 5px;
}
.media-file h5,
.media-folder h5{
    display: inline;
    line-height: 2;
    width: 100%;
}
.media-file--image{
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}
.media-file .media-content{
	justify-content: center;
}

.media-file.media--active .media-content {
    background: $primary;
    color: white;
}
.media-file.media--active .icon{
	color: white;
}


.media--active {
    border-color: $primary;

	.media--file-icon{
		color: white;
	}
	.media--file-image {
		border: 1px solid $primary;
	}

	.media--file-image-text {
		background: $primary;

		h5 {
			color: #fff;
		}
	}
}

.breadcrumbs{
	margin-left: 25px;
}
.breadcrumbs a:not(:last-child):after {
    content: ">";
    padding: 0 7px;
    font-weight: bold;
}

.media-controls{
	display: flex;
    align-items: center;
}

.dropzone{
	border: 2px dashed $primary;
    border-radius: 5px;
    background: white;
    margin-top:15px;
}

.upload-dropdown{
    position: fixed;
    top: 106px;
    width: 50vw;
    background: white;
	border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    text-align: left;
}

.upload-dropdown input {
    width: 300px;
}
