.page-control{
	padding: 0 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 61px;
    width: calc( 100% - 16.6666666667%);
}

.separator{
    border-right: 1px solid lightgrey;
}

.page-control{

    .button .icon:last-child, .button .tag:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    .button.is-primary.is-inverted:hover{
        color: $primary !important;
    }
}