.shopkeeper--background {
	background: #fff;
}

.shopkeeper--logo {
	width: 120px;
	margin:20px;
	margin-left: 50px;
}

.shopkeeper--logo-pending {
	width: 120px;
}

.shopkeeper--info {
	padding-left: 50px;
	padding-top: 17px;
	font-family: 'Open Sans', sans-serif;

	:first-child {
		font-weight: bold;
	}
}

.shopkeeper--message-header {
	line-height: 22px;
	color: #fff!important;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4);

	span {
	}
}

.shopkeeeper--message {

}

.shopkeeper--align {
	text-align: center;
}

.shopkeeper--info-big {
	font-size: 20px;
}

.shopkeeper--bottons {
	text-align: right;
	margin-top: 20px;
	padding-right: 60px;

}

.shopkeeper--border {
	border-bottom: 1px solid $light-grey;
	padding-top: 15px;
}